img{
    width: 400px !important;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background-color: #fafafa;
    padding: 50px;
    border: 1px dashed gray;
}
#spanId{
    font-size: 18px;
    margin: 50px;
}